<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Cat</h1>

    <form method="POST" action="/food">
      <p>Cat Name:
        <input type="text" name="name"></p>
      <p>Favorite Food:
        <input type="text" name="favorite_food"></p>
      <input type="submit">
    </form>

    <img src="https://i.redd.it/2rgbdnat6ib21.jpg">

    <!-- Insert Your Form Below -->

  </body>
</html>
